@model Toymania.Models.Toy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item:@Model.ToysName</h2>
<p>
    @*<img alt="=@Model.ToysName"*@
         @*src="@Model.ItemArtUrl"*@ 
         <img src="@Url.Content("~/Content/img/"+Model.ItemArtUrl)"
         @*/>*@
</p>
<div id="item-details">
    <p>
        <em>Category:</em>
        @Model.Categories.CName
    </p>
    <p>
        <em>Producer:</em>
        @Model.Producers.Name
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F} Euro", Model.Price)
    </p>

    <p class="button">
        @Html.ActionLink("Add to cart", "ATC", "ShoppingCart", new { id = Model.ToysId }, "")
    </p>

    <p class="button">
        @Html.ActionLink("Add to wishlist", "ATW", "WishlistManager", new { id = Model.ToysId }, "")
    </p>

    @*<p class="button">
            if(@Model.ToysId != null){
            @Html.ActionLink("Add to cart", "ATC", "ShoppingCart", new { id = Model.ToysId }, "")
            }
            else{
            @Html.ActionLink("Add to cart", "ATC", "ShoppingCart", new { id = ViewData["Tid"] }, "")
            }

        </p>*@<p class="button">

    </p>


</div>