@*@model IEnumerable<Toymania.Models.Toy>*@

@model Toymania.ViewModels.Toymanager
@{
    ViewBag.Title = "IndexD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OrderDetails</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xs-6 ODT">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <ul class="nav nav-tabs">
                    <li @*class="active"*@>
                        <a href="#T" data-toggle="tab">Store toys</a>
                    </li>
                    <li>
                        <a href="#D" data-toggle="tab">Deleted toys</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="T" class="tab-pane active">
                        <div class="Createmarg">
                            <table class="table Createmarg">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.t[1].ToysName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.t[1].Price)
                                    </th>
                                    <th style="display:none">
                                        @Html.DisplayNameFor(model => model.t[1].Counter)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.t[1].MinimumAge)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.t[1].SubCategoryId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.t[1].Categories.CName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.t[1].Producers.Name)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model.t)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ToysName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td style="display:none">
                                            @Html.DisplayFor(modelItem => item.Counter)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MinimumAge)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubCategories.SCName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Categories.CName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Producers.Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ToysId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ToysId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ToysId })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>

                    </div>
                    <div id="D" class="tab-pane">
                        <div class="Createmarg">
                            @*<p>
                                    @Html.ActionLink("Create New", "Create")
                                </p>*@
                            <table class="table Createmarg">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.d[1].ToysName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.d[1].Price)
                                    </th>
                                    <th style="display:none">
                                        @Html.DisplayNameFor(model => model.d[1].Counter)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.d[1].MinimumAge)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.d[1].SubCategoryId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.d[1].Categories.CName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.d[1].Producers.Name)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model.d)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Archive)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td style="display:none">
                                            @Html.DisplayFor(modelItem => item.Counter)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MinimumAge)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubCategories.SCName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Categories.CName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Producers.Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ToysId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ToysId }) |
                                            @Html.ActionLink("Undelete", "Undelete", new { id = item.ToysId })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


