@model Toymania.ViewModels.WishlistViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
        <div class="container container-body2">
            @if (Model.WT != null)
            {
                <div class=" toymenu col-md-8 wishlist_midden">
                    @foreach (var item in Model.WT)
                    {
                        <div class="col-md-4 product">
                            <p>
                                <img src="@Url.Content("~/Content/img/"+item.Toy.ItemArtUrl)" class="product_foto"/>
                            </p>
                            <p class="product_naam">
                                @Html.ActionLink(item.Toy.ToysName, "Details", "Store", new { id = item.Toy.ToysId }, null)
                            </p>
                            <p class="product_prijs">
                                <strong>Prijs:</strong>
                                @String.Format("{0:F}€", item.Toy.Price)
                            </p>
                            <p class="product_removewislist">
                                @Html.ActionLink("Remove", "IndexR", new { r = item.WishlistId })
                            </p>
                            <p class="product_addtocart">
                                @Html.ActionLink("Add to cart", "IndexRA", new { i = item.Toy.ToysId, r = item.WishlistId })
                            </p>

                        </div>
                    }
                </div>
            }
            </div>
    </body>
