@model Toymania.Models.OrderDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container container-body2">
<h2>Details</h2>

<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.History.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History.Email)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Order.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toy.ToysName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toy.ToysName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>
</body>
