@*@model IEnumerable<Toymania.Models.OrderDetails>*@
@model Toymania.ViewModels.TrackerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OrderDetails</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <br />
        <div class="container container-body2">
            <div class="row">
                <div class="col-xs-6 ODT">
                    <ul class="nav nav-tabs">
                        <li @*class="active"*@>
                            <a href="#ITS" data-toggle="tab">In the storage</a>
                        </li>
                        <li>
                            <a href="#BD" data-toggle="tab">Being deliverd</a>
                        </li>
                        <li>
                            <a href="#C" data-toggle="tab">Completed</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="ITS" class="tab-pane active">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IS[0].Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IS[0].UnitPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IS[0].Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IS[0].tracker)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IS[0].Order.Username)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IS[0].Toy.ToysName)
                                    </th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model.IS)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tracker)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Toy.ToysName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Set Being deliverd", "S", new { id = item.OrderDetailId, d = "I" }) |
                                            @Html.ActionLink("Set Completed", "C", new { id = item.OrderDetailId, d = "I" })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div id="BD" class="tab-pane">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.S[0].Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.S[0].UnitPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.S[0].Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IS[0].tracker)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.S[0].Order.Username)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.S[0].Toy.ToysName)
                                    </th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model.S)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tracker)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Toy.ToysName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Set In the storage", "IS", new { id = item.OrderDetailId, d = "D" }) |
                                            @Html.ActionLink("Set Being deliverd", "S", new { id = item.OrderDetailId, d = "D" })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div id="C" class="tab-pane">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.C[0].Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.C[0].UnitPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.C[0].Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IS[0].tracker)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.C[0].Order.Username)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.C[0].Toy.ToysName)
                                    </th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model.C)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tracker)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Toy.ToysName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Set In the storage", "IS", new { id = item.OrderDetailId, d = "C" }) |
                                            @Html.ActionLink("Set Being deliverd", "S", new { id = item.OrderDetailId, d = "C" })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>

