@using PagedList;
@using PagedList.Mvc;


@model Toymania.ViewModels.BrowsePartial

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <div class="container container-body">
        @using (@Html.BeginForm("Index", "Store", FormMethod.Get))
        {

            @Html.TextBox("search") <input type="submit" value="search" />

        }


        <div class="col-md-12 categorien">
            @foreach (var item in Model.Categories)
            {

                <ul>
                    <li> @Html.ActionLink(item.CategoryName, "index", new { category = item.CategoryName, PC = ViewData["PriceCategory"], ps = ViewData["PageSize"] }) </li>

                </ul>
            }
        </div>

        @*pagination met behulp van viewdata(default wordt geset op 30-> vervolgens bij verandering de viewdata aanpassen);*@
        <div style="display:inline-block">
            <div class="filters col-md-12 PCT1">
                <p><strong>Prijsfilters</strong></p>
                <ul>
                    <li style="list-style:none">
                        @Html.ActionLink("00.01 - 9,99 euro", "Index", new { category = Model.SelectedCategory, subCategory = Model.SelectedSubCategory, maxPrice = 10, pageSize = Model.PageSize }) <br />
                        @Html.ActionLink("10,00 - 19,99 euro", "index", new { category = Model.SelectedCategory, subCategory = Model.SelectedSubCategory, minPrice = 10, maxPrice = 20, pageSize = Model.PageSize }) <br />
                        @Html.ActionLink("20,00 - 49,99 euro", "index", new { category = Model.SelectedCategory, subCategory = Model.SelectedSubCategory, minPrice = 20, maxPrice = 50, pageSize = Model.PageSize }) <br />
                        @Html.ActionLink("50,00 - 99,99 euro", "index", new { category = Model.SelectedCategory, subCategory = Model.SelectedSubCategory, minPrice = 50, maxPrice = 100, pageSize = Model.PageSize }) <br />
                        @Html.ActionLink("100,00 - 499,99 euro", "index", new { category = Model.SelectedCategory, subCategory = Model.SelectedSubCategory, minPrice = 100, maxPrice = 500, pageSize = Model.PageSize }) <br />
                        @Html.ActionLink("500,00+ euro", "index", new { category = Model.SelectedCategory, subCategory = Model.SelectedSubCategory, minPrice = 500, pageSize = Model.PageSize }) <br />
                    </li>
                </ul>

            </div>
            <div class="col-md-12 SCT1">
                <p><strong>Subcategorieën</strong></p>
                @if (Model.SubCategories != null)
                {
                    <div class="categorie">
                        @foreach (var item in Model.SubCategories)
                        {
                            <div class="filters">
                                @Html.ActionLink(item.SubCategoryName, "index", new { category = Model.SelectedCategory, subCategory = item.SubCategoryName, minPrice = Model.MinPrice, maxPrice = Model.MaxPrice, pageSize = Model.PageSize })
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
        @if (Model.Toys != null)
        {
            <div class=" toymenu col-md-8">
                @foreach (var item in Model.Toys)
                {
                    <div class="col-md-4" style="display:inline-block; width:300px;">
                        <p>

                            <img src="@Url.Content("~/Content/img/"+item.ItemArtUrl)" />
                        </p>
                        <p class="store_toy_naam">
                            @Html.ActionLink(item.ToysName, "Details", new { id = item.ToysId })
                        </p>
                        <p>
                            <strong>Prijs:</strong>
                            @String.Format("€{0:F}", item.Price)
                        </p>
                        <p>
                            <a href="#" class="btn" onclick="AddToCart(@item.ToysId)">Add to cart</a>
                            @*@Html.ActionLink("Add to cart", "ATC", "ShoppingCart", new { id = item.ToysId }, null)*@
                        </p>

                        <p>
                            <a href="#" class="btn" onclick="AddToWishlist(@item.ToysId)">Add to wishlist</a>
                            @*@Html.ActionLink("Add to wishlist", "ATW", "WishlistManager", new { id = item.ToysId }, "")*@
                        </p>

                    </div>
                }
            </div>
        }
        @Html.PagedListPager(Model.Toys, P => Url.Action("Index", new { currentPage = P, category = Model.SelectedCategory, subCategory = Model.SelectedSubCategory, minPrice = Model.MinPrice, maxPrice = Model.MaxPrice, search = Model.Search, pageSize = Model.PageSize }),
new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true }
)

        <div style="display:block; width:100%">

            @using (@Html.BeginForm("Index", "Store", new { category = Model.SelectedCategory, subCategory = Model.SelectedSubCategory, minPrice = Model.MinPrice, maxPrice = Model.MaxPrice, search = Model.Search }, FormMethod.Post))
            {
                @Html.DropDownList("pageSize", new List<SelectListItem>
                {
                    new SelectListItem{Text = "30", Value = "30", Selected = true},
                    new SelectListItem{Text = "60", Value = "60"},
                    new SelectListItem{Text = "90", Value = "90"},
                    new SelectListItem{Text = "120", Value = "120"}
                })
                <input type="submit" value="Change pagesize" />
            }



        </div>
        @*<div class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                Page size<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a>@Html.ActionLink("30", "Index", new { C = ViewData["Category"], SC = ViewData["SubCategory"], PC = ViewData["PriceCategory"], ps = "30" })</a></li>
                <li><a>@Html.ActionLink("60", "Index", new { C = ViewData["Category"], SC = ViewData["SubCategory"], PC = ViewData["PriceCategory"], ps = "60" })</a></li>
                <li><a>@Html.ActionLink("90", "Index", new { C = ViewData["Category"], SC = ViewData["SubCategory"], PC = ViewData["PriceCategory"], ps = "90" })</a></li>
                <li><a>@Html.ActionLink("120", "Index", new { C = ViewData["Category"], SC = ViewData["SubCategory"], PC = ViewData["PriceCategory"], ps = "120" })</a></li>
            </ul>
        </div>*@

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                priceSlider();
            })

            var priceSlider = $("#slider-range").slider({
                range: true,
                min: Model.minPrice,
                max: Model.maxPrice,
                values: [Model.minPrice, Model.maxPrice],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - " + "$" + ui.values[1]);
                }
            })

            var AddToCart = function (id) {
                var i = id;
                $.ajax({
                    type: "POST",
                    url: "/ShoppingCart/AddPartial",
                    data: { id: i },
                    //success: function (r) {
                    //}
                })
            }

            var PriceCategoryChange = function (min, max) {
                $.ajax({
                    type: "GET",
                    url: "/Store/index",
                    data: { category: , subCategory: , minPrice: min, maxPrice: max, pageSize:}
                })
            }

            var AddToWishlist = function (id) {
                var i = id;
                $.ajax({
                    type: "POST",
                    url: "/WishlistManager/AddPartial",
                    data: { id: i },
                    //success: function (r) {
                    //}
                })
            }

        </script>
        @*<script src="~/Scripts/jquery-3.3.1.js"></script>
        <script>
            $(document).ready(function () {
                $("#PS").change(function () {
                    var v = $("#PS Option:Selected").text();
                    @Html.ViewData["PageSize"] = v;
                    @Html.Action("index", new { C = ViewData["Category"], SC = ViewData["SubCategory"], PC = ViewData["PriceCategory"], ps = ViewData["PageSize"] });

                });
            })
        </script>*@
    </div>

</body>

</html>

