@model Toymania.Models.Toy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container container-body2">
        <h2>Details</h2>
        <div>
            <h4>Toy</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ToysName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ToysName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ItemArtUrl)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ItemArtUrl)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                @*<dt>
                        @Html.DisplayNameFor(model => model.Counter)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Counter)
                    </dd>*@
                <dt>
                    @Html.DisplayNameFor(model => model.MinimumAge)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MinimumAge)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SubCategories.SubCategoryName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SubCategories.SubCategoryName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Categories.CategoryName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Categories.CategoryName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Producers.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Producers.Name)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ToysId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>
    </body>
