Toymania.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "PartialCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container container-body2">
    <h3>
        Review your cart:
    </h3>
    <p class="button">
        @Html.ActionLink("Checkout ", "AddressAndPayment", "Checkout")
    </p>
    <div id="update-message">
    </div>

    <table id="orderhistorytable">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price (per piece)
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartToy)
        {
            <tr>
                <td>
                    @Html.ActionLink((string)item.Toy.ToysName, "Details", "Store", new { id = item.ToyId }, null)
                </td>
                <td>
                    @item.Toy.Price

                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    @*<a href="#" class="RemoveLink" data-id="@item.RecordId">
                            Remove from cart
                        </a>*@
                    @Html.ActionLink("Remove from cart", "RemoveFromCart", new { id = item.RecordId })
                </td>
            </tr>

        }

        @*<tr id="row-@item.RecordId">
                        <td>
                            @Html.ActionLink(item.Toy.ToysName,
            "Details", "Store", new { id = item.ToyId }, null)
                        </td>
                        <td>
                            @item.Toy.Price
                        </td>
                        <td id="item-count-@item.RecordId">
                            @item.Count
                        </td>
                        <td>
                            @Html.ActionLink("Remove from cart", "IndexR", new { RecordToRemoveId = item.RecordId })
                        </td>
                    </tr>*@
        @*}*@
        <tr>
            <td>
                Total
            </td>
            <td></td>
            <td></td>
            <td id="cart-total">
                @Model.CartTotal
            </td>
        </tr>
    </table>
</div>



