@*@model Toymania.Models.Toy*@
@model Toymania.ViewModels.Recommended

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container container-bodystore">
        <h2>@Model.t.ToysName</h2>
        <p>
            <img src="@Url.Content("~/Content/img/"+Model.t.ItemArtUrl)" />
        </p>
        <p>
            <em>Producer:</em>
            @Model.t.Producers.Name
        </p>
        <p>
            <em>Price:</em>
            @String.Format("{0:F}€", Model.t.Price)
        </p>
        <p>
            <em>Category:</em>
            @Model.t.Categories.CName
        </p>
        <p>
            <em>Subcategory:</em>
            @Model.t.SubCategories.SCName
        </p>
        <div id="item-details">


        </div>
        <p class="button">
            @Html.ActionLink("Add to cart", "ATC", "ShoppingCart", new { id = Model.t.ToysId }, "")
        </p>

        <p class="button">
            @Html.ActionLink("Add to wishlist", "ATW", "WishlistManager", new { id = Model.t.ToysId }, "")
        </p>






        @if (Model.lt != null)
        {
            <p>Other customers also order:</p>
            <div class=" toymenu col-md-8">
                @foreach (var item in Model.lt)
                {
                    <div class="col-md-4">
                        <p>

                            <img src="@Url.Content("~/Content/img/"+item.ItemArtUrl)" />
                        </p>
                        <p>
                            @Html.ActionLink(item.ToysName, "Details", new { id = item.ToysId })
                        </p>
                        <p>
                            <strong>Price:</strong>
                            @String.Format("{0:F}€", item.Price)
                        </p>
                        <p>
                            @Html.ActionLink("Add to cart", "ATC", "ShoppingCart", new { id = item.ToysId }, null)
                        </p>
                        <p>
                            @Html.ActionLink("Add to wishlist", "ATW", "WishlistManager", new { id = item.ToysId }, "")
                        </p>

                    </div>
                }
            </div>
        }
    </div>
</body>
</html>
